@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  border:1px solid transparent;
}

.sty{
  background:#212121; 
  box-shadow: 0 2px 5px #212121; 
  color: #fff;
  
}



header,.container{

}

main{
  background: linear-gradient(45deg,hsl(300, 72%, 43%),hsl(222, 100%, 69%));
  height: 100vh;
  display: grid;
  place-items: center;
  width: 100vw;
  border: 1px solid red;


}

.loader{
  z-index: 40;
  background: linear-gradient(45deg,hsl(300, 72%, 43%),hsl(222, 100%, 69%));
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}




.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #bd1fbd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: hsl(300, 72%, 43%);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: hsl(300, 72%, 30%);
}

.input:focus, .input:focus-visible {
  border-color: hsl(300, 72%, 43%);
  outline: none;
}


.modal{
  height: 70%;
  border-radius: 10px;
  padding: 1rem;
  max-width: 768px;
  width: 80%;
  margin-inline: auto ;
  transition: 200ms ease-in;
}